---
layout: default
---
<div class="content"><p>Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</p></div>
<div class="level">
  <div class="level-left">
    <div class="level-item">
      <p>Tags:</p>
    </div>
    <div class="level-item">
      <div class="tags">
        {% for tag in page.tags %}
          {% include tag.html tag=tag %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="content">
    {{ content }}
</div>



{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% include comment.html %}
