---
layout: default
---
<div class="content has-text-black-bis"><p>Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</p></div>
<div class="level">
  <div class="level-left">
    <div class="level-item">
      <p>Tags:</p>
    </div>
    <div class="level-item">
      <div class="tags">
        {% for tag in page.tags %}
          {% if forloop.index == 1 %}
            {% include tag-link.html tag=tag %}
          {% else %}
            {% include tag.html tag=tag %} 
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="content has-text-black-bis">
    {{ content }}
</div>



{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% include comment.html %}
